<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codigo QR</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/0dc3b1d201.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="imagen">
            <img src="img/imagen.jpeg">
        </div>
        <div class="container-form">
            <form action="" method="">
                <figure class="imgqr">
                    <img src="img/qr.png">
                </figure>
                <button class="boton" type="submit">Renovar</button>
            </form>
        </div>
    </div>

    <!-- <script src="main.js"></script> -->
</body>
</html>