<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cormobilidades</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/0dc3b1d201.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container2">
        <div class="modal">
            <form action="" method="">
                <div class="title-icono">
                    <i class="fas fa-heartbeat"></i>
                    <p>Cormobilidades</p>
                </div>
                <li style="padding: 20px;">Presenta alguna de las <br> siguientes enfermedades</li>
                <div class="campostextos">
                    <div>
                        <p>Diabetes: </p>
                        <input type="checkbox" name="diabetes" value="diabetes" checked>
                    </div>
                    <div>
                        <p>Enfermedad cardiovascular: </p>
                        <input type="checkbox" name="cardiovascular" value="cardiovascular" checked>
                    </div>
                    <div>
                        <p>Accidente cerebro vascular: </p>
                        <input type="checkbox" name="accidente" value="accidente" checked>
                    </div>
                    <div>
                        <p>VIH: </p>
                        <input type="checkbox" name="vih" value="vih" checked>
                    </div>
                    <div>
                        <p>Cancer: </p>
                        <input type="checkbox" name="cancer" value="cancer" checked>
                    </div>
                    <div>
                        <p>Uso de corticoides o inmunosu: </p>
                        <input type="checkbox" name="inmunosu" value="inmunosu" checked>
                    </div>
                    <div>
                        <p>Enfermedad obstructiva cróni: </p>
                        <input type="checkbox" name="obstructiva" value="obstructiva" checked>
                    </div>
                    <div>
                        <p>Mal nutrición (obesidad y desn): </p>
                        <input type="checkbox" name="nutricion" value="nutricion" checked>
                    </div>
                    <div>
                        <p>Fumadores: </p>
                        <input type="checkbox" name="Fumadores" value="Fumadores" checked>
                    </div>
                </div>
                <button class="boton" type="submit">Actualizar</button>
            </form>
        </div>
    </div>
</body>
</html>