<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion Basica</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/0dc3b1d201.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container2">
        <div class="modal">
            <form th:action="@{/guardar}" th:object="${basico}" method="post">
                <div class="title-icono">
                    <i class="fas fa-id-card"></i>
                    <p>Datos personales</p>
                </div>
                <div class="campostextos">
                    <div>
                        <p>Documento: </p>
                        <input type="text" id="documento" name="documento" th:field="*{documento}">
                    </div>
                    <div>
                        <p>Nombres: </p>
                        <input type="text" id="documento" name="documento" th:field="*{nombre}">
                    </div>
                    <div>
                        <p>Fecha nacimiento: </p>
                        <input type="text" id="documento" name="documento" th:field="*{fechanacimiento}">
                    </div>
                    <div>
                        <p>Numero telefono: </p>
                        <input type="text" id="documento" name="documento" th:field="*{telefono}">
                    </div>
                    <div>
                        <p>Tipo persona: </p>
                        <select name="tipo" id="tipo" th:field="*{tipoBean.id}">
                            <option value="0" disabled>Seleccione el tipoc</option>
                            <option th:each="tipo : ${tipo}" th:value="${tipo.id}" th:text="${tipo.descripcion}"></option>
                        </select>
                    </div>
                    <div>
                        <p>EPS: </p>
                        <select name="" id="">
                            <option value="0" disabled>Seleccione la Eps</option>
                            <option th:each="eps : ${eps}" th:value="${eps.id}" th:text="${eps.descripcion}"></option>
                        </select>
                    </div>
                    <div>
                        <p>Genero: </p>
                        <select name="" id="">
                            <option value="" th:field="*{genero}">Femenino</option>
                            <option value="" th:field="*{genero}">Masculino</option>
                        </select>
                    </div>
                    <div>
                        <p>Embarazada: </p>
                        <input type="checkbox" name="vehicle" value="Car" th:field="*{embarazo}" checked>
                    </div>
                </div>
                <button class="boton" type="submit">Actualizar</button>
            </form>
        </div>
    </div>
</body>
</html>