<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>

    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/0dc3b1d201.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="imagen">
            <img src="img/imagen.png">
        </div>
        <div class="options">
            <div class="options-grid">
                <a href="">
                    <i class="fas fa-id-card"></i>
                    <p>Informacion basica</p>
                </a>
                <a href="">
                    <i class="fas fa-users"></i>
                    <p>Informacion personas</p>
                </a>
                <a href="">
                    <i class="fas fa-heartbeat"></i>
                    <p>Informacion cormobilidades</p>
                </a>
                <a href="">
                    <i class="far fa-calendar-check"></i>
                    <p>Registro ingreso</p>
                </a>
            </div>
            <button class="boton" type="">Salir</button>
        </div>
    </div>

    <script src="js/main.js"></script>
</body>
</html>