<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://kit.fontawesome.com/0dc3b1d201.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="imagen">
            <img src="img/imagen.png">
        </div>
        <div class="container-form">
            <form action="" method="">
                <p>Usuario</p>
                <div class="">
                    <i class="fas fa-user"></i>
                    <input type="text" id="user" name="user" required>
                </div>
                <p>Password</p>
                <div class="">
                    <!-- <i class="fas fa-key"></i> -->
                    <i class="fas fa-unlock-alt"></i>
                    <input type="password" id="pass" name="pass" required>
                </div>
                <button class="boton" type="submit">Ingresar</button>
            </form>
        </div>
    </div>

    <!-- <script src="js/main.js"></script> -->
</body>
</html>