<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/0dc3b1d201.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container2">
        <div class="modal">
            <form action="" method="">
                <div class="title-icono">
                    <i class="far fa-calendar-check"></i>
                    <p>Registro</p>
                </div>
                <li style="padding: 20px;">Presenta alguna de las <br> siguientes sintomas</li>
                <div class="campostextos">
                    <div>
                        <p>Tos seca: </p>
                        <input type="checkbox" name="tos" value="tos" checked>
                    </div>
                    <div>
                        <p>Malestar general: </p>
                        <input type="checkbox" name="malestar" value="malestar" checked>
                    </div>
                    <div>
                        <p>Fatiga: </p>
                        <input type="checkbox" name="Fatiga" value="Fatiga" checked>
                    </div>
                    <div>
                        <p>Secrecion nasal: </p>
                        <input type="checkbox" name="Secrecion" value="Secrecion" checked>
                    </div>
                    <div>
                        <p>Dolor de garganta: </p>
                        <input type="checkbox" name="dolorgarganta" value="dolorgarganta" checked>
                    </div>
                    <div>
                        <p>Dificultad para respirar: </p>
                        <input type="checkbox" name="Dificultad" value="Dificultad" checked>
                    </div>
                    <div>
                        <p>Temperatura: </p>
                        <input type="text" id="Temperatura" name="Temperatura">
                    </div>
                </div>
                <button class="boton" type="submit">Actualizar</button>
            </form>
        </div>
    </div>
</body>
</html>